canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  color: white;
  max-width: 90vw;
  z-index: 99;
  margin: 120px 2.5vw;
  padding: 0px 0px;

  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
}